@using PayItForward.Models

@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style type="text/css" style="display: none !important;">
        .w3-left, .w3-right, .w3-badge {
            cursor: pointer;
        }

        .w3-badge {
            height: 13px;
            width: 13px;
            padding: 0;
        }

        .textWithBlurredBg img {
            width: 75%;
            max-width: 1000px;
            border-radius: 4px;
            transition: .3s;
        }

        .textWithBlurredBg:hover img {
            filter: blur(2px) brightness(60%);
        }

        .contenedorImagenes {
            margin-top: 25px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
        }

        .contenedorTexto {
            position: absolute;
            z-index: 10;
            color: #fff;
            text-align: center;
            width: 100%;
            opacity: 0;
            transition: .3s;
            top: 50%;
            transform: translateY(50%);
        }

        .textWithBlurredBg :hover {
            opacity: 1;
        }

        .mySlides {
            display: none;
        }

        .banner {
            display: inline-block;
        }

        .banner-lg {
            width: 75%;
        }

        .banner {
            height: 257px;
            padding: 0;
            margin: 0;
        }

        .last {
            margin-top: 200px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#slideshow > div:gt(0)").hide();
            setInterval(function () {
                $('#SlideshowImages > div:first').fadeOut(1000).next().fadeIn(1000).end().appendTo('#SlideshowImages');
            }, 3000);
        });

        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 5000); // Change image every 5 seconds
        }
    </script>
</head>
<body>
    <div style="margin-top: 400px">
        <!-- Slider -->
        <div class="w3-content w3-section">
            @foreach (Banners X in ViewBag.Banners)
            {
                <img src="~/Content/SliderHome/@X.Imagen" class="mySlides" style="width:940px">
            }
        </div>

        <div class="row">
            <div class="banner banner-lg">
                <a href="#" class="textWithBlurredBg">
                    <div style="position:relative">
                        <div style="position:absolute">
                            <img class="img-fluid" src="~/Content/BannersHome/infoUtil.png" style="width:100%">
                        </div>
                        <div class="contenedorTexto">
                            <h2>Informacion</h2>
                            <h3>Hace click aca para informarte</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="banner banner-lg">
                <a href="@Url.Action("Index","Crear_Publicacion")" class="textWithBlurredBg">
                    <div style="position:relative">
                        <div style="position:absolute">
                            <img class="img-fluid" src="~/Content/BannersHome/CrearPublicacion.png" style="width:100%">
                        </div>
                        <div class="contenedorTexto">
                            <h2>Crear publicacion</h2>
                            <h3>Hacé click acá para contribuir</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row" style="margin-top: 25px">
            <div class="banner banner-lg last">
                <a href="#" class="textWithBlurredBg">
                    <div style="position:relative">
                        <div style="position:absolute">
                            <img class="img-fluid" src="~/Content/BannersHome/VerPublicaciones.png" style="width:100%">
                        </div>
                        <div class="contenedorTexto">
                            <h2>Ver publicaciones</h2>
                            <h3>Hacé click acá para ver las publicaciones de otros usuarios</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>