@using PayItForward.Models;

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Styles/ProgressBar.css" rel="stylesheet" />
    <style>
        .Categorias_Productos {
            border: 2px solid lightgrey;
            width: 190px;
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 62px;
            padding-right: 62px;
        }

        .Categorias_Servicios {
            border: 2px solid lightgrey;
            width: 190px;
            padding-top: 50.5px;
            padding-bottom: 50px;
            padding-left: 50px;
            padding-right: 50px;
        }

        .Productos :hover {
            border: 2px solid green;
        }

        .Servicios :hover {
            border: 2px solid red;
        }

        form {
            margin-left: auto;
            margin-right: auto;
            display: inline-block;
        }

        .contenedor-categorias {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
</head>

<body>
    <div style="background-color:white">
        <!--LAYOUT-->
        <div style="background-color:white">
            <ol class="progress">
                <li class="is-active" data-step="1">
                    Seleccion de categoria
                </li>
                <li data-step="2">
                    Editar publicacion
                </li>
            </ol>
        </div>

        <hr />
        <div style="background-color: white">
            <div style="margin-left: 10px; margin-top: 5px; padding-bottom: 10px">
                <p style="font-size: 20px; margin-bottom: 5px">Categorias generales</p>
                <p style="font-size: 15px; margin-bottom: 0px; margin-top: 0px">Selecciona una de las categorias principales</p>
            </div>
        </div>

        <!--DIV CENTRADO: contiene las dos categorias padre-->
        <div class="contenedor-categorias">
            @foreach (Categorias X in ViewBag.Lista)
            {
                <form action="@Url.Action(X.Nombre, "Crear_Publicacion")" class="@X.Nombre">
                    <input type="image" id="image" class="Categorias_@X.Nombre"
                           src="~/Content/ImagenesCategoria/@X.Imagen">
                </form>
            }
        </div>
    </div>
</body>