body {
  line-height: 1.7;
  color: gray;
  font-weight: 400; }

::-moz-selection {
  background: #000000;
  color: #ffffff; }

::selection {
  background: #000000;
  color: #ffffff; }

a {
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

.border-2 {
  border-width: 2px; }

.text-black {
  color: #000000 !important; }

.bg-black {
  background: #000000 !important; }

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.color-white-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.site-wrap:before {
  display: none;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden; }

.offcanvas-menu .site-wrap {
  height: 100%;
  width: 100%;
  z-index: 2; }
  .offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible; }

.btn {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  padding: 6px 20px; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    box-shadow: none !important; }
  .btn.btn-black {
    border-width: 2px;
    border-color: #000000;
    background: #000000;
    color: #ffffff; }
    .btn.btn-black:hover {
      color: #000000;
      background-color: transparent; }
    .btn.btn-black.btn-outline-black {
      color: #000000;
      background-color: transparent; }
      .btn.btn-black.btn-outline-black:hover {
        border-color: #000000;
        background: #000000;
        color: #ffffff; }
  .btn.btn-white {
    border-width: 2px;
    border-color: #ffffff;
    background: #ffffff;
    color: #000000; }
    .btn.btn-white:hover {
      color: #ffffff;
      background-color: transparent; }
    .btn.btn-white.btn-outline-white {
      color: #ffffff;
      background-color: transparent; }
      .btn.btn-white.btn-outline-white:hover {
        border-color: #ffffff;
        background: #ffffff;
        color: #000000; }

.line-height-1 {
  line-height: 1 !important; }

.bg-black {
  background: #000000; }

.form-control {
  height: 43px; }
  .form-control:hover, .form-control:active, .form-control:focus {
    box-shadow: none !important; }

.site-section {
  padding: 2.5em 0; }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem; }

.site-footer {
  padding: 4em 0;
  background: #333333; }
  .site-footer .border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
  .site-footer p {
    color: #737373; }
  .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
    color: #000000; }
  .site-footer a {
    color: #999999; }
    .site-footer a:hover {
      color: black; }
  .site-footer ul li {
    margin-bottom: 10px; }
  .site-footer .footer-heading {
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 900; }

.bg-text-line {
  display: inline;
  background: #000000;
  box-shadow: 20px 0 0 #000000, -20px 0 0 #000000; }

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5); }

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5); }

.hover-bg-enlarge {
  overflow: hidden;
  position: relative; }
  .hover-bg-enlarge > div {
    transform: scale(1);
    transition: .8s all ease-in-out; }
  .hover-bg-enlarge:hover > div, .hover-bg-enlarge:focus > div, .hover-bg-enlarge:active > div {
    transform: scale(1.2); }

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .bg-image.overlay {
    position: relative; }
    .bg-image.overlay:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7); }
  .bg-image > .container {
    position: relative;
    z-index: 1; }

.play-single-big {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid #ffffff;
  color: #ffffff !important;
  border-radius: 50%;
  position: relative;
  transition: .3s all ease-in-out; }
  .play-single-big > span {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%); }
  .play-single-big:hover {
    width: 120px;
    height: 120px; }

.overlap-to-top {
  margin-top: -150px; }

.ul-check {
  margin-bottom: 50px; }
  .ul-check li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    line-height: 1.5; }
    .ul-check li:before {
      left: 0;
      font-size: 20px;
      top: -.3rem;
      font-family: "icomoon";
      content: "\e5ca";
      position: absolute; }
  .ul-check.white li:before {
    color: #ffffff; }

.select-wrap, .wrap-icon {
  position: relative; }
  .select-wrap .icon, .wrap-icon .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px; }
  .select-wrap select, .wrap-icon select {
    appearance: none;
    width: 100%; }
