<p style="color:white">Su compra se realizó con éxito. Contactate con <b>@ViewBag.Nombre</b> a <b>@ViewBag.Mail </b>para acordar los detalles restantes. </pstyle="color:white"><br />
<p style="color:white" > Gracias por usar PayItForward :) </p> <br />

 <a href="@Url.Action("Index", "Venta")" style="color:white"> Volver a explorar publicaciones</a><br />
