@using PayItForward.Models
@model Usuarios

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@ViewBag.UserNotFound;
<form action="@Url.Action("ValidarLogin", "Login")" method="post">
    Mail: <input type="email" placeholder="Mail" id="mail" name="mail" /> <br />
    Contraseña: <input type="password" placeholder="Contraseña" id="pass" name="pass" /> <br />
    <input type="submit" value="Enviar" />
</form>
<a href="@Url.Action("Registro", "Login")" style="color:black">¿Todavía no sos parte de Pay It Forward? Registrate</a>
